/* activity*/
.activity__items{
	display: flex;
}
.activity__item{
	max-height: 370px;

	&:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
}
.activity__subtitle{
	position: relative;
}
.activity__text{
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(0%, -4%);

	width: 100%;
	padding: 27px 82px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0.9;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 0.8);
color: getColor('primary-bg');
}